.name{
text-transform: uppercase;
font-size: 1rem;
font-weight: 400;
}

.title{
    font-size: 1rem;
    color: #777;
}

.profile_image{
    margin-top: -10px;
    -webkit-clip-path: polygon(0 9%, 100% 0, 100% 94%, 0% 100%);
    clip-path: polygon(0 9%, 100% 0, 100% 94%, 0% 100%);
}

img{
    width: 100%;
}