
.MuiTimelineItem-root {
  min-height: 0px;
}
.MuiTypography-body1{
  line-height: 1rem;
}

.MuiTimelineItem-missingOppositeContent:before {
  display: none !important;
}

.MuiTimelineConnector-root {
  background-color: #eee !important;
}


.timelineContent {
  padding-top: 0px !important;
  margin-bottom: 20px;
}
 
/* profile information */


/* .timeline_content{
margin-top: 2px;
margin-bottom: 12px;
} */




.timeline_text > span{
color: black;
}